body {
  margin: 0;
  background-color: #f4ede5;
  padding: 2rem;
  font-family: 'Livvic', sans-serif;
}

h2 {
  margin: 0;
}

.container {
  background-color: #fff;
  min-height: 100vh;
  padding: 1.5rem 3rem;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-title {
  font-size: 48px;
  font-family: 'Cedarville Cursive', cursive;
}

.navbar-item { 
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navbar-item li {
  margin: 0 1rem;
}

/* Reusable Elements */

.btn {
  text-decoration: none;
  padding: 1em 2.5em;
  font-weight: 700;
  border-radius: 3rem;
  display: inline-block;
  font-size: .8rem;
}

.btn-primary {
  background-color: #ED4748;
  color: #fff;
}

.btn:focus,
.btn:hover {
  cursor: pointer;
  background-color: maroon;
}

section {
  width: 90%;
  min-height: 50vh;
  margin: 0 auto 3rem auto;
}

.section-title {
  text-align: center;
  font-size: 1.9rem;
  letter-spacing: 1px;
}

/* Landing Section */

.landing {
  display: flex;
  align-items: center;
  height: auto;
  justify-content: space-between;
}

.landing-info,
.landing-image {
  width: 48%;
}

.landing-info {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.landing-info > *{
  margin-bottom: 4rem;
}

.landing-info-title {
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 300;
}

.landing-info-icons {
  display: flex;
  justify-content: flex-start;
}

.landing-info-icons-item {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 0 0;
  border-right: 1px solid black;
  padding: 0 2rem 0 0;
  font-size: 1.2rem;
}

.landing-info-icons-item:last-child {
  border: none;
}

.icon {
  display: block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.landing-image {
  text-align: right;
}

/* About Section */

.about {
  display: flex;
  justify-content: space-between;
}

.about-image {
  width: 40%;
  background-image: url('https://demos.freehtml5.co/resto/img/hero-2.jpg');
  background-position: center;
  background-size: cover 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.about-info {
  width: 50%;
  align-self: center;
}

.about-info-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-info-title:before {
  content: 'About';
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ED505C;
}

.about-info-description {
  font-weight: 300;
  font-size: 1.125rem;
  letter-spacing: .5px;
  margin-bottom: 2rem;
}

.about-info-special {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 0;
}

.about-info-recipes {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.recipe-item {
  width: 30%;
}

.recipe-image {
  width: 100%;
}

.recipe-name {
  color: #ED4748;;
}

/* Specialties */

.specialties-container {
  background-color: #F7F8F9;
}

.specialties,
.menu {
  padding-top: 5rem;
}

.specialties-title:before,
.menu-title:before {
  content: 'Specialties';
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  color: #ED505C;
  letter-spacing: 0;
}

.specialty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.specialty-info,
.specialty-image {
  width: 40%;
}

.specialty-image-img {
  width: 100%;
}

.specialty-title {
  font-size: 3.5rem;
  position: relative
}

.specialty-title:after {
  display: inline-block;
  content: '';
  position: absolute;
  width: 200px;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  background: #000;
  left: 90px;
}

.specialty-name,
.specialty-description,
.specialty-price,
.specialty-btn {
  margin-left: 90px;
}

.specialty-name {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: .5px;
}

.specialty-name span {
  color: #ED505C;
}

.specialty-description {
  font-size: 1.125rem;
  letter-spacing: .5px;
  font-weight: 300;
}

.specialty-price {
  font-size: 1.5rem;
  font-weight: 400;
}

.specialty-btn {
  font-weight: 400;
  font-size: 1rem;
  padding: 1em 2em;
}

.specialty-two .specialty-info {
  order: 2;
}

/* Menu Section */

.menu-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.menu-list {
  width: 30%;
}

.menu-list-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
}

.menu-items {

}

.menu-item-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}